
.hero-image{
    width: 1500px;
    height: 680px;
    display:flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
.hero-content{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-700px, -180px);
    text-align: center;
    color: white;
    z-index: 2;
}
.hero-content h1{
    
    font-size: 3rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #bf32d5, #3e0a44);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.glow-on-hover {
    width: 220px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #252424;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 1.0rem 2.8rem;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #0c286f
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}