.productcard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
}
.product-image{
    width: 310px;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.product-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 310px;
    height: 400px;
    margin: 20px;
    margin-left: 35px;
    cursor: pointer;
    background-color: var(--card);
    transition: 0.5s;
}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(117, 117, 117, 0.599);
}
.product-name{
    display: flex;
    align-self: flex-start;
    margin: 20px;
    background: linear-gradient(135deg, #908f8f, #2f2f2f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.product-price{
    display: flex;
    align-self: flex-start;
    margin: 20px;
    background: linear-gradient(135deg, #ffd61e, #534507);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.delete-btn{
    display: flex;
    transform: translate(100px,-45px);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    color: var(--text);
    background:linear-gradient(90deg, #b01d1d, #3a0a0a);;
}
.edit-btn{
    display: flex;
        transform: translate(100px,-35px);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    color: var(--text);
    background:linear-gradient(90deg, #1db031, #0a3a10);;
}
.edit-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content {
    background: #171717;
    padding: 30px;
    border-radius: 20px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.e-btn{
    display: flex;
    background: var(--gradient-secondary);
    border: none;
    justify-content: center;
    align-items: center;
    color: var(--text);
    border-radius: 20px;
    height: 30px;
}
.e-in{
    display: flex;
    background: var(--gradient-secondary);
    border: none;
    justify-content: center;
    align-items: center;
    color: var(--text);
    border-radius: 20px;
}
.edit-content input,
.edit-content textarea {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: white;
}