:root {
  --bg: #0F1117;
  --surface: #171A23;
  --card: #1E2230;
  --price: #971111;
  --primary: #8B5CF6;
  --primary-hover: #7C3AED;
  --navbar: #3a8afb;
  --text: #ffffff;
  --text-secondary: #A8B3CF;
  --search-placeholder: #000000;
  --border: #2D3347;
  --border-secondary: #000000;
  --btn: #ffe4c4 ;
  --gradient: linear-gradient(90deg, #6e1d89 , #400b52);
  --gradient-btn: linear-gradient(90deg, #2889b9, #0a3a3a);
  --gradient-secondary: linear-gradient(90deg, #8b2abb, #3d1352);
}